<% include partials/header %>
<div class="ui main text container">
	<div class="ui huge header"><%= blogInfo.title %></div>
	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blogInfo.image %>">
			<div class="content">
				<span><%= blogInfo.created.toDateString() %></span>
			</div>
			<div class="description">
				<p><%- blogInfo.body %></p>
			</div>
			<a class="large ui teal basic button" href="/blogs/<%= blogInfo._id %>/edit">Edit</a>
			<form id="delete" action="/blogs/<%= blogInfo._id %>?_method=DELETE" method="POST">
				<button class="large ui red basic button">Delete</button>
			</form>
		</div>
	</div>
</div>

<% include partials/footer %>